<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h2><%= link_to '<', accept_conditions_path %></h2>
        <h1>内定承諾条件編集</h1>
      </div>
      <hr>
      <%= render 'form', accept_condition: @accept_condition %>
    </div>
  </div>
</div>

