<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h1><%= link_to '<', accept_conditions_path %></h1>
        <h2>内定承諾条件登録</h2>
      </div>
      <hr>
      <%= render 'form', accept_condition: @accept_condition %>
    </div>
  </div>
</div>