<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h2><%= link_to '<', @event %></h2>
        <h1>イベント編集</h1>
      </div>
      <hr>

      <%= render 'form', event: @event %>
    </div>
  </div>
</div>
