<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h1><%= link_to '<', @event %></h1>
        <h2>イベント編集</h2>
      </div>
      <hr>

      <%= render 'form', event: @event %>
    </div>
  </div>
</div>
