<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <h1>通過率データ</h1>
      <hr>
 <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="#contents1" class="nav-link active" data-toggle="tab">すべて</a>
    </li>
    <li class="nav-item">
      <a href="#contents2" class="nav-link" data-toggle="tab">マイナビ</a>
    </li>
    <li class="nav-item">
      <a href="#contents3" class="nav-link" data-toggle="tab">タブ3</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="contents1" class="tab-pane active">
      <%= render 'data',
      screening_process: @screening_process,
      first_interview: @first_interview,
      second_interview: @second_interview,
      third_interview: @third_interview,
      fourth_interview: @fourth_interview,
      fifth_interview: @fifth_interview,
      last_interview: @last_interview %>
       
    </div>
    <div id="contents2" class="tab-pane">
      <%= render 'data',
      screening_process: @screening_process,
      first_interview: @first_interview,
      second_interview: @second_interview,
      third_interview: @third_interview,
      fourth_interview: @fourth_interview,
      fifth_interview: @fifth_interview,
      last_interview: @last_interview %>
       
    </div>
    </div>
    <div id="contents3" class="tab-pane">
        <p>タブ3のコンテンツ</p>
    </div>
</div>
      

    </div>
  </div>
</div>

