<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h1><%= link_to '<', @company %></h1>
        <h2><%= @company.name %></h2>
      </div>
      <hr>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>
