<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="notice"><%= notice %></p>

      <h1>応募リスト</h1>
      <hr>
      <%= link_to '応募企業の登録', new_company_path, class: "btn btn-primary" %>
      
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a href="#active" class="nav-link active" data-toggle="tab">選考中</a>
        </li>
        <li class="nav-item">
          <a href="#done" class="nav-link" data-toggle="tab">選考終了</a>
        </li>
       
      </ul>
      <div class="tab-content">
        <div id="active" class="tab-pane active">
          <%= render 'list', companies: @companies %>
        </div>
        <div id="done" class="tab-pane">
    
        </div>
      </div>
    </div>
  </div>
</div>