<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h1><%= link_to '<', companies_path %></h1>
        <h2>企業の登録</h2>
      </div>
      <hr>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>