<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h2><%= link_to '<', companies_path %></h2>
        <h1>企業の登録</h1>
      </div>
      <hr>
      <%= render 'form', company: @company %>
    </div>
  </div>
</div>