<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h1><%= link_to '<', company_path(id: params[:company_id]) %></h1>
        <h2><%= @company.name %>志望度チェック</h2>
      </div>
      <hr>
      <%= render 'form', company: @company, check: @check %>
    </div>
  </div>
</div>