<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="title">
        <h2><%= link_to '<', company_path(id: params[:company_id]) %></h2>
        <h1><%= @company.name %>志望度チェック</h1>
      </div>
      <hr>
      <%= render 'form', company: @company, check: @check %>
    </div>
  </div>
</div>