/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
header{
  height: 80px;
  background-color: #f7f768;
  margin-bottom: 30px;
}
footer{
  background-color: #f7f768;
  height: 70px;
  margin-top: 20px;
  bottom: 0;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 90000;
}

footer ul{
  display: flex;
  width: 350px;
  margin: auto;
}

footer li{
  list-style: none;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}
.box_r{
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 10px 0;
}
.box_r:hover{
  background-color: rgba(0, 0, 0, 0.2);
}

a:hover{
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
}

.box_s{
  border: 2px solid black;
  margin: 10px;
  padding: 10px 10px 0;
}
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

.font{
  font-size: 10px;
}

.pagination>li>a {
  padding: 8px 10px;
  margin: 3px;
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  padding: 8px 10px;
  margin: 3px;
  background: #93c9ff;     /*背景の色を変える*/
  border-radius: 100%;/*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  padding: 8px 10px;
  margin: 3px;
  border-radius: 100%;    /*角を丸くする*/
}
.alert{
  color: red;
}
.notice{
  opacity: 0;
}
.title{
  display: flex;
}
.title h1{
  margin-right: 20px;
}
.right{
  text-align: right;
  margin-top: -57px
}
.padding_b{
  padding-bottom: 10px;
}
.center{
  text-align: center;
}
.btn{
  color: white !important;
}
.sp_only{
    display:none;
}

/*768px以下*/
@media screen and (max-width: 768px){
  /*必要ならばここにコードを書く*/
  .sp_only{
		display: initial;
	}
  h2{
    text-align: center;
  }
  footer ul{
    display: flex;
    width: 380px;
    margin: auto;
  }


  // .vertical li{
  //   writing-mode: vertical-rl;
  // }
  .pc_only{
		display: none;
	}
}

